{% extends "base.html" %}

{% block content %}
    <h1>Empresas</h1>
  

    <table class="styled-table">
        <thead>
            <tr>
                <th>Nome da Tarefa</th>
                <th>Sub Tarefas</th>
                <th>Descrição</th>
                <th>Data de início</th>
                <th>Data de conclusão</th>
                <th>Nome da Empresa</th>
                <th>Nome do Squad</th>
                <th>Ações</th>

            </tr>
        </thead>
        <tbody id="trello-table-body" class="styled-table"></tbody>
    </table>

    <script>

      async function deleteTarefa(id) {
        var url = '/deletar_tarefa/' + id;
    
        let response = await fetch(url, {
            method: 'POST',
        });
    
        if (response.ok) {
            let data = await response.json();
            console.log('Success:', data);
            fetchTarefasAtuais(); // Atualiza a lista de tarefas após a exclusão
        } else {
            console.error('Error:', await response.text());
        }
    }

      function clearBoardData() {
        localStorage.removeItem('nomeEmpresaTrello');
        localStorage.removeItem('asanaBoardName');
        localStorage.removeItem('trelloListIds');
        // e qualquer outra coisa que você queira limpar
      }

      var originalData = [];

  

        function filterTable() {
          var filterValue = document.getElementById('filter').value.trim(); // Remova qualquer espaço em branco
          var data = originalData;
        
          console.log("Valor do filtro:", filterValue); // Imprime o valor do filtro
          console.log("Dados originais:", data); // Imprime os dados originais
        
          if (filterValue) {
            data = data.filter(item => {
              return item.pos === filterValue;
            });
          }
        
          console.log("Dados filtrados:", data); // Imprime os dados após o filtro
        
          populateTable(data);
        }

        function addData(newData) {
          originalData = originalData.concat(newData);
          populateTable(originalData);
        }


        function fetchTarefasAtuais() {
          fetch('/get_tarefas_atuais')
          .then(response => response.json())
          .then(data => {
              console.log('Tarefas recebidas:', data); // Isso deve mostrar os IDs
              originalData = data;
              populateTable(originalData);
          })
          .catch(error => {
              console.log('Erro ao buscar tarefas:', error);
          });
        }
      
      // Chamar a função quando a página for carregada
      fetchTarefasAtuais();
      fetchAsanaTasksAndCompare();

      async function fetchAsanaTasksAndCompare() {
    const plataforma = localStorage.getItem('plataformaAsana');
    const empresasTokens = JSON.parse(localStorage.getItem('empresasTokens'));
    const asanaTasks = [];

    for (const empresa of empresasTokens) {
        const workSette = empresa.workspace;

        const projectsResponse = await fetch(`https://app.asana.com/api/1.0/workspaces/${workSette}/projects?archived=false`, {
            method: 'GET',
            headers: {
                'Authorization': empresa.token,
                'Accept': 'application/json'
            }
        });
        const projectsData = await projectsResponse.json();

        for (const project of projectsData.data) {
            const projectId = project.gid;

            const sectionsResponse = await fetch(`https://app.asana.com/api/1.0/projects/${projectId}/sections`, {
                method: 'GET',
                headers: {
                    'Authorization': empresa.token,
                    'Accept': 'application/json'
                }
            });
            const sectionsData = await sectionsResponse.json();

            const section = sectionsData.data.find(s => s.name === "Tarefas em andamento");
            if (section) {
                const tasksResponse = await fetch(`https://app.asana.com/api/1.0/sections/${section.gid}/tasks`, {
                    method: 'GET',
                    headers: {
                        'Authorization': empresa.token,
                        'Accept': 'application/json'
                    }
                });
                const tasksData = await tasksResponse.json();

                for (const task of tasksData.data) {
                    asanaTasks.push(task.name);
                }
                console.log("Tarefas do Asana:", asanaTasks);

            }
        }
    }

    // Comparação das tarefas
    for (const tarefa of originalData) {
        if (!asanaTasks.includes(tarefa.nome_tarefa)) {
            deleteTarefa(tarefa.id);
        }
    }
}

      function formatDate(dateString) {
        if (!dateString) return ""; // Retorna "N/A" se a data não estiver preenchida
      
        var dateParts = dateString.split('-');
        return dateParts[2] + '/' + dateParts[1] + '/' + dateParts[0];
      }
      
      function populateTable(data) {
        var tbody = document.getElementById('trello-table-body');
        tbody.innerHTML = '';
      
        for (var i = 0; i < data.length; i++) {
          var tr = document.createElement('tr');
      
          var tdName = document.createElement('td');
          tdName.textContent = data[i].nome_tarefa;
          tr.appendChild(tdName);

          var tdSub = document.createElement('td');
          tdSub.textContent = data[i].subtarefas;
          tr.appendChild(tdSub);
      
          var tdDesc = document.createElement('td');
          tdDesc.textContent = data[i].desc;
          tr.appendChild(tdDesc);
      
          var tdStart = document.createElement('td');
          tdStart.textContent = formatDate(data[i].start); // Chamando a função para formatar a data
          tr.appendChild(tdStart);  
      
          var tdClosed = document.createElement('td');
          tdClosed.textContent = formatDate(data[i].close); // Chamando a função para formatar a data
          tr.appendChild(tdClosed);
      
          var tdEmpresa = document.createElement('td');
          tdEmpresa.textContent = data[i].nome_empresa;
          tr.appendChild(tdEmpresa);
      
          var tdSquad = document.createElement('td');
          tdSquad.textContent = data[i].nome_squad;
          tr.appendChild(tdSquad);
      
          var tdActions = document.createElement('td');
          var deleteButton = document.createElement('button');
          deleteButton.textContent = 'Delete';
          deleteButton.setAttribute('onclick', 'deleteTarefa(' + data[i].id + ')'); // Certifique-se de que o objeto data[i] tenha o ID da tarefa
          tdActions.appendChild(deleteButton);
          tr.appendChild(tdActions);
      
          tbody.appendChild(tr);
        }
      }


        

        
    </script>
{% endblock %}

<!-- asana:

coluna1:
1205186491478875

coluna 2:
1205186494727059

coluna3:
1205186494727060 -->